body {
    background-color: red;
    color: white;
}

fieldset {
    background-color: blue;
    display: flex;
}

table {
    border-color: white;
}

td {
    padding: 8px 16px;
}

.col {
    font-weight: bold;
    font-size: 18px;
    background-color: blue;
}
tr {
    background-color: rgb(165, 233, 255);
    color: black;
    text-align: center;
}

input {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    
}

  #msg {
   color: yellow;
   font-size: 18px;
}